@import url('https://use.typekit.net/chv2tas.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 250 249 248;
    --color-content: 34 37 38;
    --color-content-invert: 255 255 255;
    --color-surface-1: 255 255 255;
    --color-surface-2: 250 249 248;
    --color-surface-3: 232 230 225;
    --color-surface-invert: 25 25 25;
    --color-border: 232 230 225;
    --color-gold: 204 160 86;
    --color-accent: 204 160 86;
    --color-charcoal: 34 37 38;
    --color-jade: 80 190 143;
    --color-dark-orange: 190 89 80;
    --color-burgundy: 85 20 42;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-background: 40 40 40;
      --color-content: 255 255 255;
      --color-content-invert: 34 37 38;
      --color-surface-1: 32 32 32;
      --color-surface-2: 40 40 40;
      --color-surface-3: 88 88 88;
      --color-surface-invert: 255 255 255;
      --color-border: 46 46 46;
      --color-gold: 204 160 86;
      --color-accent: 204 160 86;
      --color-charcoal: 34 37 38;
      --color-jade: 80 190 143;
      --color-dark-orange: 190 89 80;
    }
  }
}
