@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 250 249 248;
    --color-content: 34 37 38;
    --color-surface-1: 255 255 255;
    --color-surface-2: 250 249 248;
    --color-border: 232 230 225;
    --color-gold: 204 160 86;
    --color-accent: 204 160 86;
    --color-charcoal: 34 37 38;
    --color-jade: 80 190 143;
    --color-dark-orange: 190 89 80;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-background: 40 40 40;
      --color-content: 255 255 255;
      --color-surface-1: 32 32 32;
      --color-surface-2: 40 40 40;
      --color-border: 46 46 46;
      --color-gold: 204 160 86;
      --color-accent: 204 160 86;
      --color-charcoal: 34 37 38;
      --color-jade: 80 190 143;
      --color-dark-orange: 190 89 80;
    }
  }
}
