node_modules
out/
.npm/
.dfx/
.next/
.DS_Store
**/node_modules
**/.dfx
**/.npm
**/out
**/.next
.env
target
backend/canisters/**/target
backend/**/api/declarations
.vscode
lcov.info
cobertura.xml
tarpaulin-report.html
*.pem
proposal.md
sns_canister_ids.json
backend/canisters/gldt_swap_archive/
backend/canisters/gldt_swap/api/declarations.zip
console.log
/CHANGELOG.md
.cargo