node_modules
out/
.npm/
.dfx/
.next/
.DS_Store
**/node_modules
**/.dfx
**/.npm
**/out
**/.next
.env
target
canister/gldt_core/target
canister/gldt_core/declarations
canister/gldt_ledger/declarations
canister/gld_nft/declarations
canister/gldt_core/src/gldt_core.did
.vscode
