node_modules
out/
.npm/
.dfx/
.next/
.DS_Store
**/node_modules
**/.dfx
**/.npm
**/out
**/.next
.env
target
backend/canisters/**/target
backend/canisters/gldt_core/api/can.did
backend/canisters/gldt_fee_compensation/api/can.did
.vscode
