* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

html {
    font-size: 16px;
}

body {
    font-size: 1em;
    overflow: scroll;
}

h1,
h2,
h3,
h4 {
    font-family: 'Inter', sans-serif;
}

button {
    border: 0;
    outline: none;
    box-shadow: none;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
}

@font-face {
    font-family: inter;
    src: url(./../theme/font/Inter-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: inter;
    src: url(./../theme/font/Inter-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: inter;
    src: url(./../theme/font/Inter-Medium.ttf);
    font-weight: 500;
}

@media screen and (max-width: 792px) {
    html {
        font-size: 14px;
    }
    .connect-button {
        padding: 5px 15px !important;
    }
}
