<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Rewrite /account/[id].html
    RewriteRule ^account/(.\*)$ /account/$1 [L]

    # Rewrite /transaction/[id].html
    RewriteRule ^transaction/(.\*)$ /transaction/$1 [L]

</IfModule>
