@tailwind base;
@tailwind components;
@tailwind utilities;

/* .collapse-arrow > .collapse-title:after {
    left: 20px;
} */
html,
body {
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  -ms-overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.cardshadow {
  box-shadow: 0px 0px 12px 0px #00000026;
}

.checkboxleft {
  left: 20px;
}

.box-modal {
  width: 600px;
  padding: 30px;
  max-height: 80vh;
  overflow-y: auto;
}

.box-modal::-webkit-scrollbar {
  overflow: hidden;
}

.chart-modal {
  width: 800px;
  padding: 30px;
}
.box-modal-collapse {
  width: 600px;
  padding: 30px;
}
.chart-modal-collapse {
  width: 800px;

  padding: 30px;
}

@media screen and (max-width: 768px) {
  .chart-modal {
    width: 100%;
    height: 100vh;
    padding: 30px;
    transform: translateY(10%);
    overflow-y: auto;
  }
  .box-modal {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    padding: 20px;
    transform: translateY(5%);
    overflow-y: auto;
  }
  .chart-modal-collapse {
    width: 100%;
    height: 100vh;
    padding: 0px;
    transform: translateY(10%);
    overflow-x: auto;
  }
  .box-modal-collapse {
    width: 100%;
    height: 100vh;
    padding: 0px;
    transform: translateY(10%);
    overflow-x: auto;
  }
  .tooltip:before {
    content: attr(data-tip);
    z-index: 10;
    position: absolute;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: start;
    min-width: 20px;
    max-width: 30px;
    border-radius: 12px;
  }
  .tooltip::after {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .tooltip:before {
    content: attr(data-tip);
    position: absolute;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: start;
    min-width: 20px;
    max-width: 30px;
    border-radius: 12px;
  }
}
.tooltip {
  position: relative;
  border-radius: 12px;
}

.tooltip::after {
  display: none;
}

.tooltip:before {
  content: attr(data-tip);
  position: absolute;
  background-color: black;
  color: white;
  padding: 10px;
  text-align: start;
  max-width: 200px;
  min-width: 100px;
}

.tooltip button {
  border: none;
  background: none;
  cursor: pointer;
}

/* input number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
