.checkbox {
  width: 223px;
  height: 50px;
  background-color: black;
  border-radius: 30px;
  position: relative;
  color: black;
  overflow: hidden;
}

#checkbox_toggle {
  display: none;
}

.checkbox .toggle {
  width: 50%;
  height: 100%;
  position: absolute;
  border-radius: 30px;
  left: 0;
  cursor: pointer;
  background: black;
  color: white;
  transition: 0.4s;
}
.checkbox .slide {
  width: 230px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.checkbox .slide .text {
  font-size: 16px;
  font-weight: 700;
  z-index: 100;
  cursor: pointer;
  color: white;
}

.check:checked + .checkbox .slide .toggle {
  background-color: black;
  transform: translateX(113px);
  color: white;
}
.check:checked + .checkbox {
  background-color: black;
  color: white;
}

.check:checked + .checkbox .slide .text {
  color: white;
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 200px;
  height: 2.5em;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "Send";
  height: 90%;
  width: 48%;
  left: 2%;
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: grid;
  align-content: center;
  justify-content: center;

  transition: 0.4s;
}

.slider:after {
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  right: -7px;
  bottom: -7px;
  border-radius: 1.71em;

  z-index: -1;
}

.switch input:checked + .slider {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

.switch input:checked + .slider:before {
  content: "Receive";
  transform: translateX(100%);
  color: rgb(255, 255, 255);
}

.switch input {
  display: none;
}
@media screen and (max-width: 768px) {
  .switch {
    font-size: 15px;
    position: relative;
    display: inline-block;
    width: 180px;
    height: 2.5em;
  }
}
